<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../assets/thomas-schweighofer-5dB9WGpJbFc-unsplash.jpg" />
      </div>
      <div>
        <em>
          Photo by Thomas Schweighofer on <a class="attribution-link" href="https://unsplash.com/photos/5dB9WGpJbFc" target="_blank">Unsplash</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Who was J.R.R. Tolkien?</h1>
    <p>
      John Ronald Reuel Tolkien (1892–1973) was a major scholar of the English language,
      specialising in Old and Middle English. Twice Professor of Anglo-Saxon (Old English) at the University of Oxford, he also wrote a number of stories,
      including most famously The Hobbit (1937) and The Lord of the Rings (1954–1955), which are set in a pre-historic era in an invented version of our
      world which he called by the Middle English name of Middle-earth.
      This was peopled by Men (and women), Elves, Dwarves, Trolls, Orcs (or Goblins) and of course Hobbits.
      He has regularly been condemned by the Eng. Lit. establishment, with honourable exceptions, but loved by literally millions of readers worldwide.
    </p>
    <em>Biography by: <a href="https://www.tolkiensociety.org/author/biography/" target="_blank" class="attribution-link">David Doughan MBE</a></em>
  </div>
</div>
