/* You can add global styles to this file, and also import other style files */
@import './theme';

html, body {
  height: 100%;
  color: rgba(255, 255, 255, 0.7) !important;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.blue {
  color: #2196F3;
}

.green {
  color: #66BB6A;
}

.attribution-link {
  text-decoration: none;
  color: white;
}

.attribution-link:hover {
  text-decoration: underline;
}

.card-title-icon {
  text-align: center;

}

.card-title-icon, .mat-icon {
  font-size: 72px;
}

.align-center {
  text-align: center;;
}

