<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="align-center">Wolfgang Amadeus Mozart</h3>
    </div>
  </div>

  <hr />

  <div class="row about-composer">
    <div class="col-sm-3">
      <img src="./assets/web-425-composer-app.png" />
    </div>
    <div class="col-sm-9">
      <p>
        An Austrian composer of the Classical period, Wolfgang Amadeus Mozart is widely recognized as one of the greatest composers of Western music.
        He is the only composer to write and excel in all of the musical genres of his time.
        Rumored to have had the ability to play music at age three and to write music at age five, Mozart began his career as a child prodigy.
        Notable compositions include The Marriage of Figaro, Elvira Madigan, and Clarinet Quintet in A Major, K 581. <em class="apa-reference"><a href="https://www.britannica.com/list/10-classical-music-composers-to-know" target="_blank">Source</a></em>
      </p>
    </div>
  </div>
</div>
