<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <div class="logo">
      <img src="./assets/In-N-Out books Logo.png" height="80" />
    </div>
    <div style="width: 80%">
      <div fxLayout="row wrap" fxLayoutAlign="end start">
        <button mat-button routerLink="/book-list">Book List</button>
        <button mat-button routerLink="/contact">Contact Us</button>
        <button mat-button routerLink="/about">About Us</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<br />
<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card class="main-container">
      <mat-card-title class="blue">{{ assignment }}</mat-card-title>
      <br /><br />
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </div>
</div>
