<div class="contact-container">

  <div class="row">
    <div class="col-sm-12">
      <h3 style="padding-left: 27%;">Welcome to the Contact Us page</h3>
    </div>
  </div>

  <br /><br />
  <div class="row">

    <div class="col-sm-6">
      <div class="row location">
        <div class="col-sm-12">
          <h1><i class="fas fa-location-arrow text-secondary"></i></h1>
        </div>
      </div>

      <div class="row location">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0">1000 Galvin Rd S</li>
            <li class="list-group-item border-0">Bellevue, Nebraska 68005</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="col-sm-6">
        <div class="row location">
          <div class="col-sm-12">
            <h1><i class="fas fa-phone text-secondary"></i></h1>
          </div>
        </div>

        <div class="row location">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item border-0">Direct: 555-555-5555</li>
              <li class="list-group-item border-0">Toll-free: 1-800-555-5555</li>
              <li class="list-group-item border-0">Fax: 555-555-5555</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
