<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="logo"></div>
      <img src="./assets/gpa-calculator-app.png" height="80" />
    <div style="width: 80%">
      <div fxLayout="row wrap" fxLayoutAlign="end start">
        <button mat-button routerLink="/">Home</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<br />

<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card class="main-container mat-elevation-z0">
      <mat-card-title>{{ assignment }}</mat-card-title>
      <br /><br />
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </div>
</div>
