<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact Us</a>
    </li>
  </ul>
</nav>

<div role="main" class="container">
  <br /><br />

  <h2>{{ assignment }}</h2>

  <br /><br />

  <!-- if the isLoggedIn variable is true -->
  <div class="row" *ngIf="isLoggedIn; else showError">
    <div class="col-sm-4">
      <app-my-image></app-my-image>
    </div>
    <div class="col-sm-8">
      <app-my-details></app-my-details>
    </div>
  </div>

  <!-- else -->
  <ng-template #showError>
    <div class="row">
      <div class="col-sm-12">
        <h4 class="alert alert-danger">You are not authorized to view this content</h4>
      </div>
    </div>
  </ng-template>
</div>
