<div class="form-container">
  <mat-card class="form-card mat-elevation-z8" fxLayout="row">

    <mat-card-title class="form-title">Bob's Automotive Repair Shop</mat-card-title>

    <form #f="ngForm" (ngSubmit)="onSubmit(f.value); f.reset()">

      <mat-card-content>
        <h2>Automotive Repair(s)</h2>

        <div ngModelGroup="checkGroup">
          <mat-checkbox name="alternator" ngModel>Alternator Replacement</mat-checkbox>
          <br/>
          <mat-checkbox name="battery" ngModel>Battery Replacement</mat-checkbox>
          <br/>
          <mat-checkbox name="tire" ngModel>Tire Replacement</mat-checkbox>
          <br/>
          <mat-checkbox name="brake" ngModel>Brake Replacement</mat-checkbox>
          <br/>
          <mat-checkbox name="timing" ngModel>Timing Belt Replacement</mat-checkbox>
          <br/>
        </div>

        <br/>

        <hr/>
        <h2>Misc. Charges:</h2>

        <div>
          <mat-form-field>
            <input type="text" matInput name="parts" placeholder="Parts charge..." ngModel>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input type="text" matInput name="labor" ngModel placeholder="Labor fees...">
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="warn" type="reset">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </mat-card-actions>

    </form>
  </mat-card>
</div>


